 a, p, h1,h2{
  font-family: 'SF Pro', Arial, Helvetica, sans-serif;
 }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    font-size: larger;
  }
  
  .logo img {
    height: 80px;
  }
  
  .navlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navlinks li {
    display: inline-block;
  }
  
  .navlinks li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
  }
  
 .herosection{
  margin: 120px 60px;
  display: flex;
  align-items: center;
  font-size: 32px;
  flex-direction: row;
 }

  .heroImg{
    height: 464px;
    margin-left: 40px;
    cursor: pointer;
  }

  .myskillsection{
    margin: 120px auto;
    width: 50%;
    font-size: 32px;
  }

  .navlinks_aboutme, .navlinks_allmyworks{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  }

  footer{
    background-color: #DFD7BF;
    padding-top: 20px;
    margin-top: 80px;
  }

  .letsconnect{
    font-size: x-large;
    margin-left: 40px;
  }

  footer ul{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    width: 360px;
    margin-bottom: 20px;
  }

  footer ul li{
    list-style: none;
    padding-right: 40px;
  }

  footer ul li img{
    height: 40px
  }

  .myworksection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 46px 80px 46px;
  }

  .title_mywork{
    font-size: xx-large;
  }



  .work_profile{
    grid-area: work_profile;
    width:680px;
  }


 .work_title{
    font-size: 32px;
    font-weight: 600;
    grid-area: work_title;
    padding: 0px 0px 0px 80px;
    text-align: left;
  }

  .work_description{
    font-size: 20px;
    grid-area: work_description;
    padding: 0px 40px 0px 80px;
    text-align: left;
  }

  .work {
    display: grid;
    grid-template-columns: 680px 680px;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "work_profile work_title"
    "work_profile work_description";
    padding: 10px;
    margin: auto;
  }

